<% if !@exchanges.nil? %>
	<table>
		<% @exchanges.each do |e| %>
			<td>
				<%= e.name %>
				<% if !e.sub_exchanges.nil? && !@sub_exchanges.nil? && !(e.sub_exchanges & @sub_exchanges).nil? %>
					<table>
						<% (e.sub_exchanges & @sub_exchanges).each do |s| %>
							<td>
								<%= s.name %>
								<% if !s.foods.nil? && !@foods.nil? && !(s.foods & @foods).nil? %>
									<table>
										<% (s.foods & @foods).each do |f| %>
											<td>
												<%= f.name %>
											</td>
										<% end %>
									</table>
								<% end %>
							</td>
						<% end %>
					</table>
				<% end %>
			</td>
		<% end %>
	</table>
<% end %>