<% unless focussed_user.supplements_summary.blank? %>
	<div class="text-center big">Supplements Needed</div>
	<table class="table">
		<tr>
			<th>Supplement</th>
			<th>Per Week</th>
			<th>Per Month</th>
		</tr>
		<% focussed_user.supplements_summary.each do |ss| %>
			<tr>
				<td><%= ss[:name] %></td>
				<td><%= ss[:per_week] %></td>
				<td><%= ss[:per_month] %></td>
			</tr>
		<% end %>
	</table>
<% end %>