<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">
			Karvonen Equation for Target Heart Rate
			<small>(RHR Adjusted Formula: SD+/-11 beats)</small>			
		</h3>
	</div>
	<div class="panel-body">

	<!-- true for all fields -->
	<% @width = "big" %>
	<% @popup = nil %>
	<% @precision = 0 %>
	
	<!-- Target Heart Rate -->
	<% @label = "Fat-Burning Target Heart Rate:" %>
	<% @field = @user.target_heart_rate_min %>
	<% @field2 = @user.target_heart_rate_max %>
	<% @right = "beats/min" %>
	<%= render 'users/field_display'%>

	<!-- VO2MAX Endurance, etc. -->
	<% @label = "VO2MAX Endurance, etc.:" %>
	<% @field = @user.vo2max_endurance_min %>
	<% @field2 = @user.vo2max_endurance_max %>
	<% @right = "beats/min" %>
	<%= render 'users/field_display'%>

	</div>
</div>