<% @videos.each do |video| %>
	<div class="text-center video-title"><%= video.title %></div>
	<div class="text-center">
		<%= content_tag(:iframe, nil, src: "#{video.url}", class: "video-player", allowfullscreen: true) %>
	</div>
<% end %>