<div class="meal-table">
	<table class="table">
		<tr>
			<th class="big col-md-7">Daily Totals</th>
			<th>Carbs</th>
			<th>Protein</th>
			<th>Fat</th>
			<th>Kcals</th>
			<th colspan="2"></th>
		</tr>
		<tr>
			<td></td>
			<td><%= focussed_user.daily_carbs %></td>
			<td><%= focussed_user.daily_protein %></td>
			<td><%= focussed_user.daily_fat %></td>
			<td><%= focussed_user.daily_kcals %></td>
			<td colspan="2"></td>
		</tr>
	</table>
</div>