<div class="row form-group col-md-offset-3">
	<div class="control-label col-md-1">
		<%= @label %>
	</div>
	<div class="col-md-5">
		<%= @f.text_field @field, value: @default, class: "form-control" %>
	</div>	
</div>