<% provide(:title, 'Measurements') %>
<h1>Measurements</h1>

<div class="hide-on-print">
	<% if current_license != "client" %>
		<% @path = measurements_path %>
		<% @method = :post %>
		<% @submit_string = "Save New Measurements" %>
		<%= render 'form' %>
	<% end %>
</div>

<% if @measurements.length > 0 %>
	<table class="table table-striped table-bordered" >

		<tr>
			<th class="text-center">Date</th>
			<th class="text-center">Weight</th>
			<th class="text-center">Body Fat</th>
			<th class="text-center">Chest</th>
			<th class="text-center">Waist</th>
			<th class="text-center">Rt Arm</th>
			<th class="text-center">Rt Forearm</th>
			<th class="text-center">Hips</th>
			<th class="text-center">Rt Thigh</th>
			<th class="text-center">Rt Calf</th>
		</tr>

		<%= render @measurements %>
	
	</table>
<% end %>